* {
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
}

body {
  background-color: rgb(157, 141, 143, 0.7);
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 99999s;
}

input[type="text"] {
  color: white;
}

input[type="email"] {
  color: white;
}

input[type="password"] {
  color: white;
}

input[type="search"] {
  color: white;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}


.navMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5A5560;
  height: 60px;
  padding: 0 30px 0 30px;
}

.navMain span {
  color: #FAED26;
}

.navMain span:hover {
  text-shadow: 1px 0px 20px #ffd200;
  -webkit-transition: 1s linear 0s;
  -moz-transition: 1s linear 0s;
  -o-transition: 1s linear 0s;
  transition: 1s linear 0s;
  outline: 0 none;
}

.navMain a {
  color: white;
}

.start {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

.end a {
  padding: 0 22px 0 22px;
  color: #FAED26;
}

.navBookMenu {
  display: flex;
  justify-content: center;
  background-color: #9D8D8F
}

.navBook {
  text-align: center;
  display: inline-flex;
  align-items: center;
  padding: 10px;
  height: 70px;
  border-bottom: 2px solid #5A5560;
}

.navBook a {
  color: rgb(88, 88, 88);
  font-size: 22px;
  padding: 0 50px 0 50px;
}

.navBook a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

/* component Main */

.searchBook span {
  color: #FAED26;
}

.bookSearchInput {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: block;
  font-weight: 280;
  font-size: 18px;
  width: 300px;
  border-bottom: 1px solid #FAED26;
  padding: 10px 0px 0 0px;
  margin-bottom: 30px;
  text-align: center;
}

.searchBook {
  background: linear-gradient(rgba(70, 52, 78, 0.8), rgba(70, 52, 78, 0.8)), url('/public/main.jpeg');
  z-index: 5;
  background-size: cover;
  border-bottom: 2px solid #5A5560;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.searchBook h2 {
  color: #9D8D8F;
  margin: 10px 0 30px 0;
}

.mainContain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.mainContain p {
  color: #9D8D8F;
}

.mainBooks {
  text-align: center;
  margin: 0 30px 0 30px;
  width: 260px;
  height: 420px;
  margin-bottom: 50px;
  opacity: 0;
  animation: ani 2.5s forwards;
  position: relative;
}

@keyframes ani {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.mainBooks::before {
  background: linear-gradient(180deg, rgba(46, 48, 55, 0) 24%, rgba(0, 0, 0, 0.5) 54.87%, rgba(0, 0, 0, 0.85) 89.71%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background .2s ease-out;
  width: 100%;
}

.mainBooks:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: 0.3s;
}

.mainBooks:hover::before {
  background: linear-gradient(180deg, rgba(46, 48, 55, 0) 24%, rgba(70, 52, 78, .5) 54.87%, rgba(70, 52, 78, .5) 89.71%);
  transition: 0.3s;
}

.mainBooks img {
  padding: 0;
  display: block;
  height: 370px;
  width: 260px;
  object-fit: cover;
}

.endBookItems {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 30px;
  position: absolute;
  z-index: 10;
  padding: 0;
}

.mainBooks p {
  font-size: 15px;
  color: white;
  opacity: 0.5;
  margin: 5px;
}

.mainBooks h1 {
  padding: 5px;
  margin: 0 30px 0 30px;
  font-size: 22px;
  color: white;
  border-bottom: 2px solid white;
}

.mainBooks h2 {
  margin: 5px;
  font-size: 20px;
  color: #FAED26;
}

.mainBooks h3 {
  margin: 5px;
  font-size: 15px;
  color: white;
  opacity: 0.5;
}

/* component Login */

.loginContainer {
  background: linear-gradient(rgba(70, 52, 78, 0.7), rgba(70, 52, 78, 0.8)), url('/public/book.jpeg');
  z-index: 5;
  background-size: cover;
  border-bottom: 2px solid #5A5560;
}

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.authForm h1 {
  color: #FAED26;
}

.authForm span {
  color: white;
}

.authForm h4 {
  color: white;
  opacity: 0.4;
  font-style: 8px;
}

.authForm a {
  text-decoration: underline;
}

.authForm input {
  background-color: transparent;
  border: none;
  width: 250px;
  box-shadow: none;
  outline: none;
  display: block;
  font-size: 18px;
  border-bottom: 1px solid #FAED26;
  padding: 20px 0px 0 0;
  text-align: center;
}

.authForm button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 13px 45px;
  font-size: 19px;
  border-radius: 100px;
}

.authForm button:hover {
  background: white;
  color: #46344E;
  opacity: 0.5;
  transition: 0.3s;
}

.authForm p {
  color: #FAED26;
  text-shadow: 1px 0 0 #FAED26;
}

/* component My */

.lkContainer {
  background: linear-gradient(rgba(70, 52, 78, 0.7), rgba(70, 52, 78, 0.8)), url('/public/lk.jpeg');
  z-index: 5;
  background-size: cover;
  border-bottom: 2px solid #5A5560;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: row-reverse;
}

.userName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userName img {
  width: 300px;
  max-height: 400px;
  animation: right ease-in-out 1s forwards;
  position: relative;
}

@keyframes right {
  from {
    opacity: 0;
    border-radius: 50%;
  }

  to {
    opacity: 1;
    border-radius: 15px;
  }
}

.userName h1 {
  margin: 0;
  padding: 50px 10px 10px 10px;
  color: #FAED26;
  font-size: 50px;
  border-bottom: 2px solid #FAED26;
}

.myBooking {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.myBooking>.mainBooks {
  justify-content: flex-start;
  height: 370px;
  align-items: center;
  margin: 10px;
}

.myBooking button {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 100px;
}

.myBooking button:hover {
  background: white;
  color: #46344E;
  opacity: 0.5;
  transition: 0.3s;
}

.iRead {
  text-align: center;
  padding-top: 50px;
  color: #9D8D8F;
}

.userName input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: block;
  font-weight: 280;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #FAED26;
  padding: 35px 0px 0 0px;
  text-align: center;
}

.userName button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid #9D8D8F;
  color: #9D8D8F;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 100px;
}

.userName button:hover {
  background: #9D8D8F;
  color: #46344E;
  opacity: 0.5;
  transition: 0.3s;
}


/* component MyBook */

.myBookContainer {
  flex-direction: row-reverse;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: linear-gradient(rgba(70, 52, 78, 0.7), rgba(70, 52, 78, 0.8)), url('/public/myBook.jpeg');
  z-index: 5;
  background-size: cover;
  border-bottom: 2px solid #5A5560;
}

.myBookContainer h2 {
  margin: 0;
  color: #FAED26;
  font-size: 30px;
}

.myBookContainer form {
  padding: 50px;
  min-width: 400px;
  width: 35%;
}

.myBookContainer input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: block;
  font-weight: 280;
  font-size: 18px;
  width: 100%;
  border-bottom: 1px solid #FAED26;
  padding: 35px 0px 0 0px;
  text-align: center;
}

.bookBtn {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid #9D8D8F;
  color: #9D8D8F;
  padding: 13px 45px;
  font-size: 19px;
  border-radius: 100px;
}

.myBookContainer button:hover {
  background: #9D8D8F;
  color: #46344E;
  opacity: 0.5;
  transition: 0.3s;
}

.addFile {
  color: #5A5560;
  padding: 17px;
  font-size: 19px;
  min-width: 200px;
}

.addFile:hover {
  color: white;
  background: #9D8D8F;
  opacity: 0.3;
  transition: 0.3s;
}

.hideInput {
  background-color: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  padding: 0;
  opacity: 0;
}

.allMyBooks {
  padding: 50px;
}

.allMyBooks p {
  color: #9D8D8F;
}

.thisBook {
  width: 400px;
  border: 2px solid #5A5560;
  padding: 10px 30px 5px 30px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  background-color: rgb(157, 141, 143, 0.4);
}

.thisBook img {
  width: 250px;
}

.thisBook h1 {
  margin: 5px;
  font-size: 22px;
  color: #46344E;
  border-top: 2px solid #46344E;
}

.thisBook h2 {
  margin: 5px;
  font-size: 20px;
  color: #FAED26;
}

.allMyBooks button {
  margin-top: 10px;
  margin-bottom: 3px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 100px;
  opacity: 0.5;
}

.allMyBooks button:hover {
  background: white;
  color: #46344E;
  opacity: 0.5;
  transition: 0.3s;
}

/* component BookPage */

.bookPageContain {
  background: linear-gradient(rgba(70, 52, 78, 0.8), rgba(70, 52, 78, 0.8)), url('/public/main.jpeg');
  z-index: 5;
  background-size: cover;
  border-bottom: 2px solid #5A5560;
}

.bookInPage {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bookInPageImg {
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: center;
  transform: translateX(-150%);
  animation: left 1s forwards;
  position: relative;
}

@keyframes left {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateY(0);
  }
}


.bookInPageImg img {
  height: 400px;
  width: 300px;
}

.bookBooking {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 370px;
  border: 2px solid rgb(255, 255, 255, 0.5);
  text-align: center;
}

.windBooking {
  display: flex;
  flex-direction: column;
}

.bookInPageDescr {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;
}

.bookInPageDescr h5 {
  max-width: 500px;
  margin: 0;
  font-size: 15px;
  color: #9D8D8F;
}

.bookInPage h1 {
  max-width: 500px;
  color: #FAED26;
  font-size: 50px;
  margin: 0;
  padding: 20px 0 20px 0;
  border-bottom: 2px solid #FAED26;
}

.bookInPage p {
  color: white;
  font-size: 20px;
}

.pDescr {
  max-width: 500px;
  padding-bottom: 30px;
  opacity: 0.7;
  font-size: 18px !important;
  border-bottom: 2px solid #9D8D8F;

}

.owner h5 span {
  border-bottom: 1px solid #FAED26;
  font-size: 17px;
}

.bookBooking a {
  text-decoration: none;
  color: #FAED26;
}

.bookBooking h5 {
  color: #FAED26;
  font-size: 15px;
  margin-bottom: 5px;
}

.bookBooking h4 {
  color: #9D8D8F;
}

.dateBooking {
  font-size: 15px !important;
  color: #FAED26 !important;
  margin: 10px 15px 10px 15px;
}

.formBooking {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formBooking input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: block;
  font-size: 15px;
  width: 50%;
  border-bottom: 1px solid #FAED26;
  text-align: center;
}

.formBooking button {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #9D8D8F;
  color: #9D8D8F;
  padding: 10px 40px;
  font-size: 12px;
  border-radius: 100px;
}

.formBooking button:hover {
  background: #9D8D8F;
  color: #46344E;
  opacity: 0.5;
  transition: 0.3s;
}

.bookComment {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bookComment h1 {
  margin: 0 !important;
  font-size: 35px !important;
  max-width: 100% !important;
  color: #9D8D8F;
  border-bottom: 2px solid #9D8D8F;
}

.bookComment h2 {
  font-size: 30px;
  margin-top: 40px;
  color: #FAED26;
}

.bookComment h4 {
  color: #9D8D8F;
  margin-bottom: 0;
}

.bookComment h5 {
  color: #9D8D8F;
}

.formComment input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
  display: block;
  padding: 20px 0 0 0;
  font-size: 25px;
  border-bottom: 1px solid #FAED26;
  text-align: center;
}

.formComment button {
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid #9D8D8F;
  color: #9D8D8F;
  padding: 10px 40px;
  font-size: 12px;
  border-radius: 100px;
}

.formComment button:hover {
  background: #9D8D8F;
  color: #46344E;
  opacity: 0.5;
  transition: 0.3s;
}

.stars {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stars p {
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 100%;
  border: 4px solid #FAED26;
  color: #FAED26 !important;
  opacity: 0.7;
}

.stars p:hover {
  box-shadow: 0 0 10px #9D8D8F;
  background-color: #FAED26;
  color: #46344E !important;
  transition: 0.3s;
}

.stars .voted {
  box-shadow: 0 0 10px #9D8D8F;
  background-color: #FAED26;
  color: #46344E !important;
}

.userComment {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(157, 141, 143, 0.1);
  border: 1px solid rgb(255, 255, 255, 0.4);
  width: 500px;
  margin: 10px;
  color: #FAED26;
}

.userComment h3 {
  margin: 0 20px 10px 20px;
}

.userComment h4 {
  color: white;
  margin: 0 20px 0 20px;
}

.userComment img {
  max-width: 200px;
  max-height: 300px;
}

.dateComment {
  font-size: 15px !important;
  color: black !important;
  opacity: 0.5;
}

.userStar {
  margin: 10px;
  padding: 5px 10px 5px 10px;
  border-radius: 100%;
  border: 4px solid #FAED26;
  color: #FAED26 !important;
  opacity: 0.7;
}

/* component Rating */

.ratingContain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: linear-gradient(rgba(70, 52, 78, 0.8), rgba(70, 52, 78, 0.8)), url('/public/my.jpeg');
  z-index: 5;
  background-size: cover;
  border-bottom: 2px solid #5A5560;
  text-decoration: none;
}

.ratingContain a {
  color: #FAED26;
}

.ratingContain th {
  font-size: 35px;
  color: #9D8D8F;
  border-bottom: 2px solid #9D8D8F;
  padding: 30px;
}

.ratingContain td {
  color: #FAED26;
  font-size: 30px;
  padding: 15px;
  text-align: center;
}

.ratingTd {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ratingContain img {
  width: 60px;
  margin-right: 50px;
}

/* component User */
.userPage {
  justify-content: flex-start !important;
}

.userPage h1 {
  margin-bottom: 50px !important;
}

.booksAndBookings div {
  align-items: center;
  justify-content: center;
}

.userComment a {
  color: #FAED26;
  border-bottom: 1px solid #FAED26;
}

/* spinner */

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }

  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
